<h1 titulo>Cursos registrados</h1>
<table mat-table [dataSource]="cursosService.cursos" class="mat-elevation-z8">

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let curso"> {{curso.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let alumno; let i = index">
          <button mat-icon-button color='warn' (click)="eliminar(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>

      </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let curso; columns: columnas;"></tr>
</table>